@import url("nav.css");
@import url("search.css");

.header{
    background-color: var(--main-color);
    color:var(--white-text-color);
    font-family: var(--header-text-font);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width:100%;
}
.header a{
    text-decoration: none;
    color:var(--white-text-color);
    cursor: pointer;
}
.header i{
    padding: 0px 5px;
}
